.game {
  background: #000;
  color: #fff;
  text-align: center;
  font-family: monospace;
}

.game__canvas {
  border: 2px solid white;
  background: black;
  display: block;
  margin: 20px auto;
  width: 1280px;
  height: 720px;
}
.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding-top: 200px;
}

.modal__title {
  margin-top: 20px;
}

.modal__action {
  font-size: 20px;
  padding: 10px 20px;
}

.game__status {
  margin-top: 10px;
  color: #0f0;
}
